#menu-mobile {
    display: none;
}

@media screen and (max-width: 1000px) {
    #menu-mobile {
        display: block;
    }
}
 

.toggle-button {
    position: fixed;
    top: 10px;
    /*horizontal centering: https://css-tricks.com/forums/topic/horizontal-centering-of-an-absolute-element/ */
    right: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 9px 10px;
    margin: 8px 15px 8px 0;
    height: 20px;
    width: 35px;
    cursor: pointer;
    z-index: 6;
  }
  
  .bar {
    background-color: white;
    display: block;
    width: 100%;
    height: 5px;
    border: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
  }
  
  .bar + .bar {
    margin-top: 4px;
  }
  
  .middle {
    top: 15px;
  }
  
  .bottom {
    top: 30px;
  }
  
  .toggle-button:hover {
    opacity: .7;
  }
  
  .toggle-active .bar {
    background-color: #fff;
  }
  
  .toggle-active .top {
    -webkit-transform: translateY(6px) translateX(0) rotate(45deg);
  }
  
  .toggle-active .middle {
    opacity: 0;
  }
  
  .toggle-active .bottom {
    -webkit-transform: translateY(-12px) translateX(0) rotate(-45deg);
  }
  
  
  /** styling for the overlay. The sliding-down effect of the overlay is given by the initial zero height and the onclick 100% height. **/
  
  .overlay {
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
  }

nav#overlay {}
  
  
  /* class added to the overlay on click*/
  
  .nav-active {
    opacity: 1;
    visibility: visible;
    height: 100%;
    z-index: 5;
  }
  
  .overlay ul {
    display: block;
    position: relative;
    top: 60px;
    left: 0;
    font-family: 'Didact Gothic', serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    list-style: none;
    padding: 0;
  }
  
  .overlay ul li {
    display: block;
    margin-bottom: 20px;
  }
  
  .overlay ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    /*horizontal centering*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 2em;
    color: white;
    font-family: "Bungee Inline", sans-serif;
    
  }
  
  .hidden {
    opacity: 0;
  }